click==6.7
dj-database-url==0.4.2
Django==1.10.5
django-allauth==0.30.0
django-registration==2.2
djangorestframework==3.5.3
Flask==0.12.2
Flask-MySQL==1.4.0
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
mysql==0.0.1
mysql-python==1.2.5
oauthlib==2.0.1
psycopg2==2.7.1
PyMySQL==0.7.11
python-openid==2.2.5
requests==2.12.4
requests-oauthlib==0.7.0
Werkzeug==0.12.2
whitenoise==3.3.0
